<h1>Flight Search!</h1>

<form name="form" #f="ngForm" novalidate>

    <div class="form-group">
        <label>From:</label>
        <input
                name="from" class="form-control" [(ngModel)]="from" city>
        <small class="text-danger" *ngIf="f?.controls?.from?.hasError('city')">No flight from city</small>
    </div>

    <div class="form-group">
        <label>To:</label>
        <input class="form-control" [(ngModel)]="to" name="to" asyncCity>
        <small class="text-danger" *ngIf="f?.controls?.to?.hasError('asyncCity')">No flight to city</small>
    </div>
    <div class="form-group">
        <button
                class="btn btn-primary"
                (click)="search()">Search!</button>
    </div>
</form>

<div class="row">
    <div *ngFor="let f of getFlights()" class="col-sm-4" style="padding:20px;">

        <flight-card
          [item]="f"
          [(selectedItem)]="selectedFlight">
            <a  class="btn btn-default" href="#/flightBooking.flightEdit/{{f.id}}">Edit</a>
        </flight-card>

    </div>
</div>
<p>&nbsp;</p>
<div class="row">
<pre>Basket
----------------------
{{selectedFlight | json }}</pre>
</div>