<h1>{{info}}</h1>
<p>&nbsp;</p>
<migrated-tabs-component>
    <migrated-tab-component [title]="'Flight'">
        <form #f="ngForm">
          <div *ngIf="message" style="color: red">
              {{message}}
          </div>

          <div class="form-group">
              <label>Id</label>
              <input class="form-control" [(ngModel)]="flight.id" name="id" required>
              <small class="text-danger" *ngIf="f?.controls?.id?.hasError('required')">Required</small>
          </div>

          <div class="form-group">
              <label>From</label>
              <input class="form-control" [(ngModel)]="flight.from" name="from" minlength="3">
              <small class="text-danger" *ngIf="f?.controls?.from?.hasError('minlength')">Min length is 3</small>
          </div>

          <div class="form-group">
              <label>To</label>
              <input class="form-control" [(ngModel)]="flight.to" name="to" minlength="3">
              <small class="text-danger" *ngIf="f?.controls?.to?.hasError('minlength')">Min length is 3</small>
          </div>

          <div class="form-group">
              <label>Date</label>
              <input class="form-control" [(ngModel)]="flight.date" name="date">
          </div>

          <div class="form-group">
              <button class="btn btn-primary" (click)="save()">Save!</button>
          </div>
        </form>
    </migrated-tab-component>
    <migrated-tab-component [title]="'Details'">
        <pre>{{ flight | json }}</pre>
    </migrated-tab-component>
</migrated-tabs-component>
